body {
  position: relative;
  min-height: 100%;
}

html {
  height: 100%;
}

body > .section {
  font-size: 15px;
}

body.discovery-service-enrollment > .section, body.discovery-service-registry > .section {
  height: auto;
}

#row1 {
  background-color: #333;
  color: white;
  padding: 0 0 4px 0;
  height: 26px;
  margin-top: -20px;
}

#customHeader, #customHeader .contentWidth {
  position: relative;
}

#customHeader {
  padding: 1.5em;
  color: black;
}

  #customHeader h1 {
    font-weight: normal;
    font-size: 3em;
    font-family: lexia, sans-serif;
    margin-left: 200px;
  }

  #customHeader .customElement {
    position: absolute;
    right: 10px;
    bottom: -1em;
  }

  #customHeader .customImage img {
    position: absolute;
    top: -.7em;
    left: -110px;
    height: auto;
  }

.customImage {
  margin-bottom: 10px;
}

#customFooter {
  position: relative;
  overflow: hidden;
  bottom: 0;
  color: black;
  font-size: 1.4em;
  padding: 1em 0 1.5em;
  width: 98%;
  font-size: 14px;
  border-top: solid 1px #b3b3b3;
  margin: 2em 10px 0 10px;
}

  #customFooter p {
    padding-left: 50px;
    margin-bottom: 10px;
  }

.sidebar {
  background-color: white;
  border: none;
  margin-top: 55px;
  width: 267px;
  position: absolute;
  right: 10px;
  top: 100px;
}

  .sidebar > img.center {
    display: block;
    margin: 0 auto;
  }

.pageTitle {
  display: none;
}

.boxtitle > span.required {
  display: none;
}

.contentFooterWithoutSidebar {
  color: black;
  text-align: left;
  font-family: proxima-nova, sans-serif;
  font-size: 10px;
  text-align: left;
  text-transform: uppercase;
  color: #b3b3b3;
  padding: 15px 0 15px 15px 15px;
}

.section {
  display: block;
  width: 80%;
}

.create_new_login {
  margin-bottom: 100px;
  text-align: center;
}

.section_after_submission {
  width: 80%;
}

.customElement {
  font-size: 15px;
}

.flash_msg {
  text-align: center;
  padding: 10px;
  width: 50%;
  margin: 10px auto !important;
  background-color: #DFF0D8;
  z-index: 100;
}

  .flash_msg p {
    margin:0;
    font-weight: bold;
    color: #3C763D;
  }

  .flash_msg .close {
    color: grey;
    font-weight: bold;
    border: none;
    font-size: 20px;
    padding: 0;
    margin: 0;
    position: relative;
    left: 250px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }

.login_registry_text {
  text-align: center;
  margin-top: unset;
}

.login-items-mobile {
  display: none;
}

  .login-items-mobile > .row {
    margin-bottom: 10px;
  }

.login-items-desktop { }

.login-items-desktop img, .login-items-mobile img {
	max-width: 100%;
}

.container {
  margin-top: 30px;
  margin-bottom: 100px;
  font-family: proxima-nova, sans-serif;
}

  .container h3 {
    text-align: center;
  }

.full-width-container {
  width: 100%;
  max-width: 100%;
  clear: both;
  margin: 0 auto 100px auto !important;
}

.column-sidebar {
	display: none;
}

.column-content {
	width: 100%;
}

.noGutter {
  margin: 0;
  padding: 0;
}

div.IdPSelectPreferredIdPImg {
  height: unset;
}
#idpSelectPreferredIdPTile {
  height: unset;
}
#idpSelectListButton {
  padding: 0;
}

@media only screen and (min-device-width : 320px) and (max-device-width: 480px) {

  .login-items-desktop { display: none !important; }
  .login-items-mobile { display: block; }
  .sidebar { display: none !important; }
  .container { margin-top: 50px; }

  .customImage > img {
    margin-left: 100px;
    margin-top: 10px;
  }

  #customHeader h1 {
    margin-left: 0 !important;
    padding-top: 60px !important;
  }

  .mobile-container {
    padding: 0 !important;
  }

  .create_new_login {
    margin-bottom: 0;
  }

  .section_after_submission {
    width: unset;
    text-align: center;
  }

  .discovery-service-enrollment .section {
    width: unset !important;
  }

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  .login-items-desktop { display: block !important; }

  .sidebar { display: none !important; }
  .google-logo {
    /*margin-left: 130px !important;*/
  }

  #customFooter { width: 95% !important; }

}

@media only screen and (min-width: 720px) and (max-width: 900px) {

  #customHeader .customImage img {  margin-left: 100px; }
  #customHeader h1 { margin-left: 250px; }
  .login-items-desktop { display: block !important; }
  .sidebar { display: none }

}

@media (min-width: 768px) {
  #customHeader .customimage img { margin-left: 100px; }
  #customHeader h1 { margin-left: 220px; }
  .login-items-mobile { display: none; }
  .login-items-desktop { margin-left: 50px; }

	.column-sidebar {
		display: block;
	}

}

@media only screen and (min-width: 992px) {

  .contentFooterWithoutSidebar {
    width: 685px !important;
  }

  #customHeader .customImage img {  margin-left: 100px; }
  #customHeader h1 { margin-left: 250px; }
  .login-items-mobile { display: none !important; }

}

@media only screen and (min-width: 1200px) {

  .contentFooterWithoutSidebar {
    width: 900px !important;
  }

  #customHeader .customImage img {
    margin-left: 100px;
  }

  #customHeader h1 {
    margin-left: 250px;
  }

  .login-items-mobile { display: none; }

}
