html {
  font-family: proxima-nova, Verdana, sans-serif !important;
}

.humanities_commons_idp_enroller_co_petitions.collectIdentifier #tabs-attributes .submitCell input {
  background-color: #006650;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.humanities_commons_idp_enroller_co_petitions.collectIdentifier #tabs-attributes .submitCell .ui-state-default { background-color: #006650 !important; }

 .humanities_commons_idp_enroller_co_petitions.collectIdentifier #tabs-attributes .submitCell .ui-state-default:hover { background-color: #009978 !important; }


.humanities_commons_idp_enroller_accounts.provision #secondaryMenu, .humanities_commons_idp_enroller_accounts.provision #row3, .humanities_commons_idp_enroller_co_petitions.collectIdentifier #secondaryMenu, .humanities_commons_idp_enroller_co_petitions.collectIdentifier #row3 {
    display: none !important; 
}

.humanities_commons_idp_enroller_co_petitions #comanage-wrapper #navigation-drawer, 
.humanities_commons_idp_enroller_co_petitions #banner,
.humanities_commons_idp_enroller_co_petitions #desktop-hamburger,
.humanities_commons_idp_enroller_co_petitions #breadcrumbs,
.humanities_commons_idp_enroller_accounts #banner,
.humanities_commons_idp_enroller_accounts #top-menu #user-menu #login,
.co_petitions #banner,
.co_petitions #top-menu #user-menu #login,
.co_petitions #comanage-wrapper #navigation-drawer,
.co_petitions #desktop-hamburger,
.co_petitions #breadcrumbs,
.co_petitions #user,
.pages.terms-page #banner,
.pages.terms-page #top-menu #user-menu #login {
    display: none !important;
}

.humanities_commons_idp_enroller_co_petitions #main,
.co_petitions #main,
.humanities_commons_idp_enroller_co_petitions #main .modelbox {
    margin-left: 0 !important;
}

.email_error {
  clear: both !important;
  margin-bottom: 15px;
}

   .email_error .ui-icon-circle-close, .enrollment_flow_msg_dupe .ui-icon-circle-close {  display: none; }

.h_c_confirmers .enrollment_flow_msg a.cancelbutton.ui-button.ui-corner-all.ui-widget {
   font-size:  11px !important;
   margin-right: 10px;
}

.h_c_confirmers #banner, .h_c_confirmers #login { display: none !important }
.h_c_confirmers .enrollment_flow_msg {
   clear: both;
}

.h_c_confirmers #navigation-drawer {
      display: none;
}

.h_c_confirmers .invitation {
  margin-bottom: 30px;
}

.h_c_confirmers .email_error p, .h_c_confirmers .enrollment_flow_msg,  .h_c_confirmers .enrollment_flow_msg_dupe {
   font-size: 15px;
   color: red;
}

.h_c_confirmers .fields {
   margin-top: 20px;
}

.h_c_confirmers .checkbutton {
  margin: 0 10px;
}

.h_c_confirmers #titleNavContainer {
   overflow: hidden;
}

.h_c_confirmers #customFooter { margin: 600px 10px 0 10px; }

.duplicate-error-message #logout {
    display: none;
}

.hc-enrollment #navigation {
    display: none !important;
}

.contentFooterWithoutSidebar {
  color: black;
  text-align: left;
  font-family: proxima-nova, Helvetica, sans-serif;
  font-size: 10px;
  text-align: left;
  text-transform: uppercase;
  color: #b3b3b3;
  padding: 15px 0 15px 15px 15px;
}

.co_themes #customFooter { margin-left: 240px; }

#customFooter {
  position: relative;
  color: black;
  font-size: 1.4em;
  margin-top: 2em;
  padding: 1em 1.5em;
  width: 98%;
  font-size: 14px;
  border-top: solid 1px #b3b3b3;
  margin: 100px 10px 0 10px;
}


.terms-page #row1, .terms-page #row3, .guidelines-page #row1, .guidelines-page #row3, .privacy-page #row1, .privacy-page #row3 { display: none; }
.terms-page #main, .guidelines-page #main, .privacy-page #main { margin-top: 20px; }
.terms-page #breadcrumbs, .guidelines-page #breadcrumbs, .privacy-page #breadcrumbs { display: none; }

#newContainer {
    width: 500px;
    margin: 20px auto 0 auto !important;
}

     #newContainer a { cursor: pointer }


@media (min-device-width : 320px) and (max-device-width: 480px) {
  .contentWidth {
       min-width: 70% !important;
   }

  #customheader h1 {  
    margin-left: 0px !important;
  }

  .customImage img {
    margin-top: 10px !important;
    position: inherit !important;
  }

  .sidebar {
    display: none;
  }

  #customFooter {
    width: unset;
  }

  .modelbox table tr > :nth-child(2) input[type=text] {
    min-width: 100%;
  }

.humanities_commons_idp_enroller_accounts.provision .ui-widget input {
    min-width: 50% !important;
}

}
